
<html>

<head>
	<title>Mail List</title>
</head>

<body >
<h1>Mail List app</h1>
<h3>Welcome to the mail list app. </h3>
<p>	Save your details on the form to be part of our mail list for the book.</p>
<form (ngSubmit)='checkFormValidity(form)'  #form='ngForm' ngNativeValidate 
			class= 'form'>
	<b>Mail list Form</b>
	<br>
	<br>
	<div>
		<span class='form' >First name  </span>
		<input [(ngModel)]= 'firstName' #firstname= 'ngModel' required maxlength='15' 
					name='firstname' class='form'  placeholder='first name'/> 
		<div *ngIf='checkFieldValidity(firstname)' class='alert'>please give your name</div>
	</div>
	<br>
	<div>
		<label class='form' >Last name </label>
		<input [(ngModel)]= 'lastName' #lastname= 'ngModel' required maxlength='15'
					 name='lastname' class='form' placeholder='last name'  />
		<div *ngIf='checkFieldValidity(lastname)' class='alert'>please give your last name</div>
	</div>
	<br>
	<div>
		<label class='form' >Country </label> 
		<select [(ngModel)]= 'country' #countryForm= 'ngModel' required
					name='country' 	class='form'> 
			<option *ngFor='let nation of countryList' >{{nation}} </option>
		</select>
		<div *ngIf='checkFieldValidity(countryForm)' class='alert'>
				Please select a country
		</div>
	</div>
	<br>
	<div>
		<label class='form' >Email </label>
		<input  [(ngModel)]= 'email' #emailForm= 'ngModel' required maxlength= '25'  
					type='email' name='email'  class= 'form' placeholder= 'email' />
		<div *ngIf='checkFieldValidity(emailForm)' class='alert'>
				Please include an @ on email address
		</div>
	</div>
	<br>
	<div>
		<label class='form' >Code</label>
		<input required type='number' min='1000' max='9999' 
					[(ngModel)]= 'code' #codeForm= 'ngModel'
					name='code' class='form code' placeholder='1208' />
		<label class='form ' > Phone</label>
		<input required type='number' min='1000000' max='9999999'  
					[(ngModel)]= 'phone' #phoneForm= 'ngModel'
					 name='phone' class='form phone' placeholder='8621897'
					 title= 'please include your international code'/> 
		<div *ngIf='checkFieldValidity(codeForm)' class='alert'>Code needs 4 digits</div>
		<div *ngIf='checkFieldValidity(phoneForm)' class='alert'>Phone needs 7 digits</div>
	</div>
	<br>
	<div>
		<label class='form' >Comments</label>
		<br>
		<textarea  [(ngModel)]= 'comments' maxlength='50'
						name='comments' class='form' placeholder='comment' >
		</textarea>
	</div>
<div *ngIf='form.invalid&& submitted' class='alert'>	Your proflie is not saved</div>
	<br>
	<br>
	<button  (click)='checkFormValidity(form)'	type='submit'  class='form'>save</button>
	<button (click)='clear()'  class='form clear'>clear</button>
	<button  routerLink='/bookstore' class='form clear'>cancel</button>
</form> 
<br>
<br>
</body>

</html>
