
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class= "main-page "  >
		<h1>Mail List app
			<h6 >Welcome to the mail list app </h6>
		</h1>
		<div class= "grid-row" >
			<div class= "col-1"></div>
			<div class= "col-2" [hidden]= 'formIsHidden'>
				<p>	Save your details on the form to be part of our mail list for the book.</p>
				<p>Select your country to see your code.</p>
				<form (ngSubmit)= 'checkFormValidity(form)'  #form= 'ngForm' ngNativeValidate
							 	class="banner-btn grid-row" >
					<div class= "col-1-l" ></div>
					<div class="col-2-s">
						<b>Mail list Form</b>
						<div class= "name">
							<label for= "firstname">First name  </label>
							<br>
							<input required [(ngModel)]= 'firstName' #firstname= 'ngModel'  
										ngModel pattern= "[a-zA-Z- ]*" maxlength='15'  
										title= "Please use letters only" 
										name='firstname'  placeholder= 'first name'/> 
							<div [class.alert-opaque]= '!checkFieldValidity(firstname)' 
									[class.alert]= 'checkFieldValidity(firstname)'>Please give a valid name 
							</div>
						</div>
						<div class= "lastname">
							<label for= "lastname">Last name </label>
							<br>
							<input required [(ngModel)]= 'lastName' #lastname= 'ngModel'  maxlength= '15'
										#lastField (oninvalid)= "lastField.setCustomValidity('Us')"
										ngModel pattern= "[a-zA-Z- ]*" title= 'Please use letters only'
										name= 'lastname' placeholder= 'last name'/>
							<div [class.alert-opaque]= '!checkFieldValidity(lastname)' 
									[class.alert]= 'checkFieldValidity(lastname)'>Please give a valid last name</div>
						</div>
						<div class= "email">
							<label for= "email">Email </label>
							<br>
							<input required [(ngModel)]= 'email' #emailField= 'ngModel'  
							ngModel pattern= "[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength= '25'  
							title= "Please use a valid email e.g 'abc@domain.com'" 
							name= 'email' placeholder= 'email' />
							<div [class.alert-opaque]= '!checkFieldValidity(emailField)' 
									[class.alert]= 'checkFieldValidity(emailField)'>
								Please use a valid email e.g 
								<br>
								'abc@domain.com' in small caps
							</div>
						</div>
						<div class= "country">
							<label for="country">Country </label> 
							<br>
							<select required [(ngModel)]= 'country' #countryField= 'ngModel' 
										(change)= "suggestCode()"  name= 'country'> 
								<option *ngFor= 'let nation of countryList' >{{nation.country}}</option>
							</select>
							<div [class.alert-opaque]= '!checkFieldValidity(countryField)' 
									[class.alert]= 'checkFieldValidity(countryField)'>	Please select your country	
							</div>
						</div>
						<div class= "code">
								<label for="code">Code </label>
								<a>?
									<div class="alt-banner info">select your country to see your code</div>
								</a> 
								<br>
								<input required ngModel pattern= "[0-9-]{1,7}" maxlength= "7"
											[(ngModel)]= 'code' #codeField= 'ngModel' 
											title= 'Select your country to see your code' name= 'code' placeholder= '27' />
								<div [class.alert-opaque]= '!checkFieldValidity(codeField)' 
										[class.alert]= 'checkFieldValidity(codeField)'>
									Please provide 
									<br>
									a vaild code
								</div>	
						</div>
						<div class= "phone">				
							<label for= "phone"> Phone </label>
							<br>			
							<input required  ngModel pattern= "[0-9 ]{1,13}" maxlength= "13"
										[(ngModel)]= 'phone' #phoneField= 'ngModel'
										title= 'Please use numbers only' name= 'phone' placeholder= '862189776'/>
							<div [class.alert-opaque]= '!checkFieldValidity(phoneField)' 
									[class.alert]= 'checkFieldValidity(phoneField)'>Please provide 
									<br>
									a valid phone	
							</div>	
						</div>
						<div class= "comments">
							<label for="comments">Comments</label>
							<br>
							<textarea  [(ngModel)]= 'comments' maxlength= '50'
												name= 'comments' placeholder= 'leave a comment' >
							</textarea>
							<div [class.alert]= 'form.invalid&& submitted' 
									[class.alert-opaque]= '!form.invalid|| !submitted'>	Your proflie is not saved</div>
						</div>
						<div class= "buttons">
							<button  (click)= 'checkFormValidity(form); saveForm()'	type= 'submit'
											class="links-btn">save
							</button>
							<button  (click)= 'clear()' class="links-btn">clear</button>
							<button  routerLink= '/bookstore'>cancel</button>
						</div>
					</div>
				</form> 
			</div>
		</div>		
	</div>
	<div class= "grid-row">
		<div class= "col-1"></div>
			<div class= "col-2">
				<app-success-popup></app-success-popup>
		</div>
	</div>
</body>
</html>
