
<html>

<head>
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<meta charset= "UTF-8">
</head>

<body>
	<div class= "pg1 fade"  >
		<h1>Mail List app</h1>
		<h3 >Welcome to the mail list app. </h3>
		<p>	Save your details on the form to be part of our mail list for the book.</p>
		<p>Select your country to see your code.</p>
		<form (ngSubmit)= 'checkFormValidity(form)'  #form= 'ngForm' ngNativeValidate>
			<b>Mail list Form</b>
			<br>
			<br>
			<div class= "name">
				<label>First name  </label>
				<br>
				<input required [(ngModel)]= 'firstName' #firstname= 'ngModel'  
							ngModel pattern= "[a-zA-Z- ]*" maxlength='15'  title= "Please use letters only"
							name='firstname'  placeholder= 'first name'/> 
				<div *ngIf= 'checkFieldValidity(firstname)' class= 'alert'>Please give a valid name</div>
			</div>
			<br>
			<div class= "lastname">
				<label>Last name </label>
				<br>
				<input required [(ngModel)]= 'lastName' #lastname= 'ngModel'  maxlength= '15'
							 #lastField (oninvalid)= "lastField.setCustomValidity('Us')"
							 ngModel pattern= "[a-zA-Z- ]*" title= 'Please use letters only'
							name= 'lastname' placeholder= 'last name'/>
				<div *ngIf= 'checkFieldValidity(lastname)' class= 'alert'>please give a valid last name</div>
			</div>
			<br>
			<div class= "email">
				<label>Email </label>
				<br>
				<input required [(ngModel)]= 'email' #emailField= 'ngModel'  
				ngModel pattern= "[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength= '25'  
				 title= "Please use a valid email e.g 'abc@domain.com'" 
				 name= 'email' placeholder= 'email' />
				<div *ngIf= 'checkFieldValidity(emailField)' class= 'alert'>
					Please use a valid email e.g 
					<br>
					'abc@domain.com' in small caps
				</div>
			</div>
			<div class= "country">
				<label>Country </label> 
				<br>
				<select required [(ngModel)]= 'country' #countryField= 'ngModel' 
							(change)= "suggestCode()"  name= 'country'> 
					<option *ngFor= 'let nation of countryList' >{{nation.country}}</option>
				</select>
				<div *ngIf= 'checkFieldValidity(countryField)' class= 'alert'>	Please select your country	
				</div>
			</div>
		 	<br>
			<div class= "code">
				<label>Code </label>
				<a href= "info:">?
					<div>select your country to see your code</div>
				</a> 
				<br>
				<input required ngModel pattern= "[0-9-]{1,7}" maxlength= "7"
							[(ngModel)]= 'code' #codeField= 'ngModel' 
							title= 'Select your country to see your code' name= 'code' placeholder= '27' />
				<div *ngIf= 'checkFieldValidity(codeField)' class= "alert">
					Please provide a
					<br>
					 vaild code
				</div>	
			</div>
			<div class= "phone">				
				<label> Phone </label>
				<br>			
				<input required  ngModel pattern= "[0-9 ]{1,13}" maxlength= "13"
							[(ngModel)]= 'phone' #phoneField= 'ngModel'
							title= 'Please use numbers only' name= 'phone' placeholder= '862189776'/>
				<div *ngIf= 'checkFieldValidity(phoneField)' class= 'alert'>Please provide a valid phone	
				</div>	
			</div>
			<br>
			<div class= "comments">
				<label>Comments</label>
				<br>
				<textarea  [(ngModel)]= 'comments' maxlength= '50'
									name= 'comments' placeholder= 'leave a comment' >
				</textarea>
				<div *ngIf= 'form.invalid&& submitted' class= 'alert'>	Your proflie is not saved</div>
			</div>
			<br>
			<br>
			<div class= "buttons">
				<button  (click)= 'checkFormValidity(form); saveForm()'	type= 'submit'>save</button>
				<button  (click)= 'clear()'>clear</button>
				<button  routerLink= '/bookstore'>cancel</button>
			</div>
		</form> 
	</div>
	<div class= "success-background" [hidden]= 'hideSuccessPopup'></div >
	<div [hidden]= 'hideSuccessPopup' class= 'success popdown'>
		<div>Your profile is saved successfully</div> 
		<div><b>Your details:</b> 
			<div [innerHTML]= "displaySavedDetails()"></div>
		</div>
		<div>
			<button (click)= "goBackToStore()">
				<img src= "assets/img/verify.webp" alt= "">done
			</button>
		</div>
	</div>
</body>
</html>
