

form{ background-color:black;	
color: yellow;
width:480px; 
font-size:22px;
padding:25px;
}

button.form{ width:145px;
font-size:30px;
position:relative;
left:20px;	
padding:8px;
font-weight:bold;
}

a{float:right;
}

input.form,  textarea.form, option.form, select.form{ font-size:22px;
}

input.code{ width:90px;
}

input.phone{ width:120px;
}

input.ng-invalid, textarea.ng-invalid, select.ng-invalid{ border-left: 2px solid red
}

input.ng-valid, textarea.ng-valid, select.ng-valid{ border-left: 2px solid lime
}

.alert{ color:red;	
	font-size:16px;
}
div.success{ color:lime;
	font-size:25px;	
	background-color:black;
	padding:20px;
	width:420px;
	text-align:center;
}


