
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >
    <div  class="w3-modal" style= "display:block;" >
         <div class="w3-modal-content banner ">
            <div class="header "> 
              <code style ="font-size: xx-large;">✔</code>   Your profile is saved successfully 
            </div> 
             <div>
                <p><span>Your details</span> </p>
                <p><span>First name</span> {{ getName() }} </p>
                <p><span>Last name</span> {{ getLastname() }}</p>
                <p><span>Country</span> {{ getCountry() }}</p>
                <p><span>Email</span> {{ getEmail() }}</p>
                <p><span>Phone</span> {{ getPhone() }}</p>
             </div>
             <div>
                <button routerLink= '/bookstore'  > 
                  <img src= "assets/img/verify.webp" alt= "" height="18"  width="20"> done
                </button>
            </div>         
        </div>
    </div>
</body>
</html>

