
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >
    <div  class="w3-modal" style= "display:block;" >
         <div class="w3-modal-content banner ">
            <div class="header "> 
              <code style ="font-size: xx-large;">✔</code>   Your profile is saved successfully 
            </div> 
             <div class= "details">
               <p style="text-align: center; "><span ><b>Your details</b></span> </p>
               <table>
                  <tr><td><span>First name</span> {{ getName() }}</td></tr>
                  <tr><td><span>Last name</span> {{ getLastname() }}</td></tr>
                  <tr><td><span>Country</span> {{ getCountry() }}</td></tr>
                  <tr><td><span>Email</span> {{ getEmail() }}</td></tr>
                  <tr><td><span>Phone</span> {{ getPhone() }}</td></tr>
               </table>
             </div>
             <div>
                <button routerLink= '/bookstore'  > 
                  <img src= "assets/img/verify.webp" alt= "" height="18"  width="20"> done
                </button>
            </div>         
        </div>
    </div>
</body>
</html>

