

div.w3-modal-content{ border: 4px groove;
	max-width: 590px;
	margin-top: -30px;
	box-shadow: 0 0 13px green;
	z-index: 2;
    animation: popdown 2s;
}

@keyframes popdown { from{margin-top: -600px; }
	to{margin-top: -30px;}
}

div.w3-modal-content div:nth-child(1){ text-align: center;
	box-shadow: 0 0 13px lime;
	color: lime;
	padding: 3%;
	font-size: large;
}

div.w3-modal-content div:nth-child(2){ padding: 1%;
	margin-top: 5%;
}

div.w3-modal-content span{ background-color:rgb(5, 5, 112);
	padding: 2%;
	border-radius: 5px;
	color: orange;
} 

div.w3-modal-content div:nth-child(2) div{ text-align: left;
	margin-left: 3%;
}

div.w3-modal-content div:nth-child(3){ text-align: center;
	margin: 1%;
}

div.w3-modal-content div:nth-child(3) button{ background-color: white;
	padding: 3%;
	text-align: center;
	transition: .5s;
	margin: 10% 0 4% 0;
}

div.w3-modal-content div:nth-child(3) button:hover{ box-shadow: 0 0 13px yellow;
}