
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<app-message [hidden]= "!messageIsOpen"></app-message>
<div class= "golf-form p-5percent w3-indigo m-auto ">
  <!-- {{ getStringify( staticDataCourses ) }} -->
  <h2>Scorecard Form</h2> 
  <br>
  <span *ngIf= "tournaments.length== 0">No tournaments found</span>
  <span *ngIf= "tournaments.length!= 0">Select a Tournament</span>
  <select [(ngModel)]= "selectedTournament" class="shadowWhite form-control">
    <option>Select a Tournament </option>
    <option *ngFor= "let t of tournaments"> {{ t.name +' -'+ t.id  }}</option>
  </select> 
  <br>
  <span *ngIf= "games.length== 0">No games found</span>
  <span *ngIf= "games.length!= 0">Select a Game</span>
  <select [(ngModel)]= "selectedGame" (change)="selectGame()"  class="shadowWhite mx-200 form-control">
    <option >Select a Game </option>
    <option *ngFor= "let g of games"> {{ g.gameNo }}</option>
  </select>
  <br> 
  <div class= "table w3-yellow p-5percent rounded"> 
    <div *ngIf="game.gameNo==0">Select a game first</div>
    <div *ngIf="game.gameNo!=0">
      You selected game {{ game.gameNo }} of {{ game.tournament || '...' }}
    </div>
    <button (click)="addPlayers()" type="button" class="m-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add Players 
    </button>
    <table class= "w3-table-all	w3-responsive m-1percent no-border">
      <thead class="w3-deep-orange">
        <th></th><th></th><th>Name</th> <th>Surname</th><th>Score</th>
      </thead> 
      <td colspan="4" *ngIf= "scores.length== 0&& game.gameNo!=0">No data found</td>
      <tr *ngFor= " let s of scores;" class="w3-hover-cyan transition">
        <td><button (click)="removePlayer(s.playerId)" class="btn btn-danger m-1">Remove</button></td> 
        <td>{{ s.position  }}</td> <td>{{ s.firstName }}</td><td>{{ s.surname }}</td> 
        <td><input (change)="updateLine(s.playerId, scores.value)" [value]="s.score" #scores
           type="number" max="100" class="form-control m-auto mx-60" ></td>
      </tr>             
    </table>
    <div class= "m-5 p-5percent">   
      <button (click)='update()' class="btn btn-success m-4 w3-mobile">Update</button>
      <button class="btn btn-danger m-4 w3-mobile">Cancel</button>
    </div>
  </div>
</div>
  <!-- players form -->
<div class="  modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content w3-indigo">
      <div class="modal-header">
        <h3 class="modal-title " id="staticBackdropLabel">Add your Players</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="p-5percent modal-body">
        <div class= "w3-pale-blue p-2 rounded">           
          <div *ngIf="game.gameNo==0">Select a game first</div>
        <div *ngIf="game.gameNo!=0">
          Your players will be added to game {{ game.gameNo }} of {{ game.tournament || '...' }}
        </div>
        <table class="w3-responsive w3-table-all m-2 no-border">
          <thead class="w3-lime">
            <th></th> <th>Name</th> <th>Surname</th><th>Handicap</th>
          </thead> 
      <td colspan="3" *ngIf= "playersCard.length== 0&& game.gameNo!=0">No data found</td>
          <tr *ngFor= "let p of playersCard" class="w3-hover-cyan transition">
            <td><button (click)= "add(p.playerId)" class="btn btn-success m-1">Add</button></td>
            <td>{{ p.firstName }}</td> <td>{{ p.surname }}</td> <td>{{ p.handicap }}</td>
          </tr> 
        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary m-1 w3-mobile" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br> 
<br>
</body>
</html>
