

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golf Scoring</title>
</head>

<body >    
<nav class="navbar navbar-expand-lg bg-primary navbar-dark text-white">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">Golf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav text-white">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#demo">demo</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
</nav>
<!-- <app-golf-home></app-golf-home> -->
<h1>Golf Scoring System live demo</h1>
<br>
<h2 id="demo">Let's see how it works</h2>
<br>
<app-form></app-form>
</body>
<footer class="text-bg-secondary p-4 text-white">
    footer comes here
</footer>

</html>
