

body{
    background-image: url('/assets/img/home.jpeg') !important;
    background-color: navy;
    color: azure !important;
    padding: 5%;
}

div.block{
    color: antiquewhite;
    background-color: rgba(141, 137, 137, 0.171);
}



