
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<form class= "p-4" 
    style="width: 60%; background-color: azure !important;">
    <h5>Add player</h5>
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input required pattern= "[A-Z a-z -]"
            name= "name" type="text" class="form-control ng-valid">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="score" class="col-sm-2 col-form-label">Score</label>
        <div class="col-sm-10">
            <input name="score" type="text" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Save</button>
</form>
</body>
</html>
