
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
body{
    background-color: transparent;
}

form{
    background-color: azure !important;
}
</style>
<body>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" 
    data-bs-target="#staticBackdrop"> Add player
</button>
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" 
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
     aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h1 class="modal-title fs-5" id="staticBackdropLabel">Add A New Player</h1>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">
         <form class= "p-4" >
             <div class="mb-3 row">
                 <label for="name" class="col-sm-2 col-form-label">Name</label>
                 <div class="col-sm-10">
                     <input required pattern= "[A-Z a-z -]" 
                     name= "name" type="text" class="form-control ng-valid">
                 </div>
             </div>
             <div class="mb-3 row">
                 <label for="score" class="col-sm-2 col-form-label">Surname</label>
                 <div class="col-sm-10">
                     <input name="score" type="text" class="form-control">
                 </div>
             </div>
             <div *ngIf= "message== 'player saved'"
                  class="alert alert-success d-flex align-items-center" role="alert">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                   </svg>
                 <div> {{ message}}</div>
             </div>
         </form>
     </div>
     <div class="modal-footer">
         <button (click)= "savePlayer()" 
         type="submit" class="btn btn-primary">Save
         </button>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>
</body>
</html>
