
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>  
<div class="mx-700 fade-in p-3" style="position: fixed; top: 100px; z-index: 9;">
    <div [hidden]="getType()!= 'success'" class=" alert alert-success bg-success p-3 text-white">
        <h4> {{ getTitle() || 'Thank you!' }}</h4> 
        <br>{{ getMessage() }}<br> 
    </div>
    <div [hidden]="getType()!= 'info'" class=" alert alert-info bg-info p-3 ">
        <h4>{{ getTitle()  }}</h4>
        <br> {{ getMessage() }}<br> 
    </div>
    <div [hidden]="getType()!= 'error'" class=" alert alert-danger bg-danger p-3 text-white">
        <h4>{{ getTitle() || 'Error!'}}</h4> <br>
        {{ getMessage() }} <br> 
    </div>
</div>
    
</body>
</html>
