
div.log{ margin: 5px;
	background-color: azure;
	color: black;
	border: ridge lightgray;
	z-index: 2;
	max-height: 60% ;
	min-width: 60%;
	position: fixed; top: 80px;
}

div.log div:nth-child(1){ border-bottom: white groove 3px;
	padding: 1%;
	color: orange !important;
	font-weight: bold;
}

div.log div:nth-child(1) button{ float: right;
	background-color :transparent;
	color: azure;
}

div.log div:nth-child(1) button:hover{ background-color: red;
	color: antiquewhite;
}

div.log div:nth-child(2){ padding: 1%;
	height: 170px;
	overflow: auto;
	margin: 1px;	
}

div.log-message{ padding-left: 9%;
}
