	
<!doctype html>
<html>
<head>	
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<meta charset= "UTF-8">
</head>

<body class= "fade">
	<h1>About me</h1>
	<div class="container">
		<div class= "inside">
			<br>
			<h2>Front-end Angular developer - Entry level</h2>
			<p> I've been teaching myself to code since Sep 2020.</p>
			<br>
			<span>Java</span> - 8 months
			<br>
			<span>HTML</span> - since Mar 2022
			<br>
			<span>CSS</span> - since Mar 2022
			<br>
			<span>Typescript</span> - since Mar 2022
			<br>
			<span>Angular 14</span> - since Mar 2022
			<br>
		</div>
	</div>
</body>
</html>