	
<!doctype html>
<html>
<head>	
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<meta charset= "UTF-8">
</head>

<body class= "fade">
	<h1>About me</h1>
	<div class= "grid-row">
		<div class= "col-1"></div>
		<div class= "col-2">
			<div class="container">
				<div>
					<h2>Front-end Angular developer - Entry level</h2>
					<p>I've been teaching myself to code since September 2020.</p>
					<p><span>Java 11</span> - 8 months</p>
					<p><span>HTML</span> - since March 2022</p>
					<p><span>CSS</span> - since March 2022</p>
					<p><span>Typescript</span> - since March 2022</p>
					<p><span>Angular 14</span> - since March 2022</p>
					<br>
				</div>
			</div>
		</div>
	</div>
	<h1>Special dedication to my mother!!</h1>
	<div class= "grid-row">
		<div class= "col-1"></div>
		<div class= "col-2">
			<div class= "dedication">
			</div>
			<div class= "images">
				<img  src= 'assets/img/mal (2).png' width= "500" height= "600">
				<img  src= 'assets/img/mal (1).png' width= "500" height= "600">
				<img  src= 'assets/img/mal (1).jpg' width= "500" height= "600">
				<p>Ukhule uze ukhokhobe</p>
			</div>
			<p>I would not be a web developer today without her patience and support</p>
			<p>Thank you mama and happy birthday!!</p>
		</div>
	</div>
</body>
</html>