

div.container{ background-color: rgb(9, 6, 50);
    padding: 2% 4% 4% 4% ;
    margin-bottom: 150px;
    box-shadow: 0 0 6px blueviolet;
    max-width: 750px;
}

div.container div{ box-shadow: 0 0 14px blue;
}

@media screen and (max-width: 350px) {
	div.container div{ font-size: smaller;
	}
  }

span{ color:orange;
    text-shadow: 0px 0px 3px ;
    background-color: rgb(5, 5, 112);
    padding: 4px 11px;
    border-radius: 4px ;
    text-align: center;
}

div.container div p{ margin: 3%;
}

.imagefade{ min-height: 200px;
}

div.images{ max-width:500px;
}

div.images img{ width: 100%;
    border: 4vmin groove;
    padding: .5%;
    max-height: 485px;
}

div.images img:nth-child(1){ border-color: orangered;
    box-shadow: 0 0 12px orangered; 
 }

div.images img:nth-child(2){  border-color:gold;
    box-shadow: 0 0 12px gold; 
 }

 div.images img:nth-child(3){border-color: orange;
    box-shadow: 0 0 12px orange; 
 }