	
<!doctype html>
<html>
<head>	
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<meta charset= "UTF-8">
</head>

<body class= "fade">
	<h1>About me</h1>
	<div class="container">
		<div class= "inside">
			<br>
			<h2>Front-end Angular developer - Entry level</h2>
			<p> I've been teaching myself to code since Sep 2020.</p>
			<br>
			<span>Java</span> - 8 months
			<br>
			<span>HTML</span> - since Mar 2022
			<br>
			<span>CSS</span> - since Mar 2022
			<br>
			<span>Typescript</span> - since Mar 2022
			<br>
			<span>Angular 14</span> - since Mar 2022
			<br>
		</div>
	</div>
	<br>
	<div class= "dedication">
		<h1>Special dedication to my mother!!</h1>
		<P>
			I would not be a web developer today without her patience and support
			<br>
			Thank you mama and happy birthday!!
		</P>
		<br>
		<div>
			<img  class= 'mal' src= 'assets/img/mal (2).png'>
			<img  class= 'mal1' src= 'assets/img/mal (1).png'>
			<img  class= 'mal2' src= 'assets/img/mal (1).jpg'>
		</div>
	</div>
	<p>
		Ukule uze ukhokhobe
	</p>
</body>
</html>