
h2{color: crimson ;
	margin-left: 10px;
}

div.container{ background-color: rgba(0, 0, 0, 0.76);
        padding: 20px;
        width: 710px;
        height: 350px;
}

div.inside{box-shadow: 0px 0px 14px blue;
    width: 700px;
    height: 345px;
}

div.dedication{ margin-bottom: 700px;

}

p{text-align: center;
}

span{ color:lime;
    font-weight:bold;
    margin-left: 60px;	
    margin-bottom: 10px;
}

img{ width:600px;
    height:600px;
    top: 880px;   
    left: 80px;
    border: 8px solid;
    }

img.mal{ animation: imagefade 15s infinite;
    position: absolute;
    border-color: red;
 }
@keyframes imagefade { 0% {opacity: 1;}
    25%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

img.mal1{ animation: imagefade 15s 5s infinite;
    position: absolute;
    border-color:gold;
 }

img.mal2{ animation: imagefade 15s 10s infinite;
    position: absolute; 
    border-color: orange;
 }