
*{ --img-margin: -650px;}

h2{ text-align: center;
}

div.container{ background-color: rgb(9, 6, 50);
    padding: 20px;
    width: 760px;
    height: 420px;
    margin: 0px 0px 150px 0px;
    box-shadow: 0px 0px 6px blueviolet;
}

div.container div{ box-shadow: 0px 0px 14px blue;
    width: 700px;
    height: 355px;
    margin: 30px;
}

div.container  h2{ padding: 15px;
}

span{ color:orange;
    text-shadow: 0px 0px 3px ;
}

div.container div p{ margin-left: 60px;
}

div.dedication{ margin: 0px 0px 0px 0px;
}

div.images{ margin: 50px 0px 00px 0px;
}

div.images img{ width:600px;
    height:600px;
    border: 25px groove;
    display: block;
    animation: imagefade 15s infinite;
}

div.images img:nth-child(1){ border-color: orangered;
    box-shadow: 0px 0px 12px orangered; 
    animation-delay: 15s ;
 }
@keyframes imagefade { 0% {opacity: 1;}
    25%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

div.images img:nth-child(2){  border-color:gold;
    box-shadow: 0px 0px 12px gold; 
    margin-top: var(--img-margin);
    animation-delay: 10s ;
 }

 div.images img:nth-child(3){border-color: orange;
    box-shadow: 0px 0px 12px orange; 
    margin-top: var(--img-margin);
    animation-delay: 5s ;
 }

 div.images p:nth-child(4){ margin: -50px 0px 0px 40px;
 }