
div.calc{ font-size:24px;
width:470px;
height: 440px;
padding:12px;
box-shadow: 0px 0px 4px lightpink;
border-radius: 5px;
transition: 0.4s;
margin-left: -10px;
}

div.calc:hover{ box-shadow: 0px 0px 10px lightpink;
}

div.numpad{margin: 55px 35px 25px 35px ;
}

div.numpad button{ width:75px;
	font-size:40px;
	margin-bottom:3px;
	margin-left:3px;
}

div.numpad button.wide{ width:152px;
}

button.num{background-color:rgb(93, 195, 235);
}

input{ text-align:right;
	margin-bottom: 10px;	
}

label, input{ width:355px;
}

div.capsule{ margin-bottom: 800px;
}

div.capsule div{
	border-radius: 9px;
	position: relative;
	text-align: center;
	padding: 5px;
	/* transform: scale(0, 0); */
	text-shadow: 0px 0px 10px;
	/* animation: moving-capsules2 30s infinite ; */
	max-width: 40px;
}

div.capsule div:nth-child(1){ 
	color:lime;
	box-shadow: 0px 0px 8px lime;
	top: 50px;
	left: 20px;
}

@keyframes moving-capsules2 { 0%{transform: scale(0, 0);}
	15%{transform: scale(1, 1);}
	70%{transform: scale(0, 0);}
	100%{transform: scale(0, 0); }
}

div.capsule div:nth-child(2){ left: 76px;
	top: 400px;
	color: deepskyblue;
	box-shadow: 0px 0px 10px deepskyblue;
	animation-delay: 5s;
	font-size: 30px;
}

div.capsule div:nth-child(3){ left: 40px;
	top: 550px;
	color:deeppink;
	box-shadow: 0px 0px 10px deeppink;
	animation-delay: 10s;
	font-size: 35px;
}

div.capsule div:nth-child(4){ left: 60px;
	top: 130px;
	color:yellow;
	box-shadow: 0px 0px 10px yellow;
	animation-delay: 15s;
}

