

div.calc{ max-width:450px;
height: auto;
padding: 2.5%;
box-shadow: 0 0 4px blue;
border-radius: 5px;
transition: 0.4s;
margin-left: -8px;
width: 102%;
}

div.calc:hover{ box-shadow: 0 0 8px blue;
}

div.numpad{margin: 20% 10% ;	
}

div.numpad button{  width:19.5%;
	height: 25%;
	padding-top: 1% 0;
	font-size: 6.5vmax;
	font-size: 6.3vmin;
	margin: 0 .5% .3% 0;
}

div.numpad button.wide{ width: 39.5%;
}

button.num{background-color:rgb(93, 195, 235);
}

input{ text-align:right;
	margin-bottom: 20px!important;	
	width: 100%;
} 

label, input{ font-size: 4.5vmin !important;
}

div.capsule{ margin-bottom: 800px;
}

div.capsule div{ border-radius: 9px;
	position: relative;
	text-align: center;
	padding: 10px;
	transform: scale(0, 0);
	text-shadow: 0 0 10px;
	animation: moving-capsules2 12s infinite ;
	width: 70px;
}

div.capsule div:nth-child(1){ 
	color:lime;
	box-shadow: 0 0 8px lime;
	top: 50px;
	left: 8%;
}

@keyframes moving-capsules2 { 0%{transform: scale(0, 0);}
	15%{transform: scale(1, 1);}
	70%{transform: scale(0, 0);}
	100%{transform: scale(0, 0); }
}

div.capsule div:nth-child(2){ left: 35%;
	top: 400px;
	color: deepskyblue;
	box-shadow: 0 0 10px deepskyblue;
	animation-delay: 3s;
	font-size: 30px;
}

div.capsule div:nth-child(3){ left: 25%;
	top: 550px;
	color:deeppink;
	box-shadow: 0 0 10px deeppink;
	animation-delay: 6s;
	font-size: 35px;
}

div.capsule div:nth-child(4){ left: 18%;
	top: 130px;
	color:yellow;
	box-shadow: 0 0 10px yellow;
	animation-delay: 9s;
}

