
div.calc{ background-color:rgb(5%, 2%, 10%);
font-size:24px;
width:410px;
padding:12px;
}

label{ color:yellow;
	font-size:24px;
}

input{ text-align:right;	
}

label, input{ width:350px;
}


