
div.converter{ background-color:rgb(62, 113, 155); 
	font-size:24px;
	padding:12px;
	height:490px;
	width:470px;
	box-shadow: 0px 0px 4px lightskyblue;
	border-radius: 5px;
}

div.converter:hover{ box-shadow: 0px 0px 10px lightskyblue;
}

button.unit{ width:195px;
}

button.reset{ width:114px;
}

label, input{ width:400px; 
}

label{background-color:black;
	padding:12px;
}

input.converter{ background-color:rgb(240, 243, 253);
	color:black;
	text-align:right;
	margin-bottom:10px;
}

.anim-box{
	border-radius: 9px;
	position: absolute;
	left: 750px;
	opacity: 0;
	text-align: center;
}

.anim-1{ height: 25px;
	width: 25px;
	color: aqua;
	box-shadow: 0px 0px 8px aqua;
	text-shadow: 0px 0px 10px;
	animation: anim 35s infinite ;
}

@keyframes anim { 0%{opacity: 0; top: 170px;}
	15%{opacity: 1;}
	70%{opacity: 0;}
	100%{opacity: 0; top: 1000px;}
}

.anim-2{ height: 35px;
	width: 35px;
	color: lightskyblue;
	box-shadow: 0px 0px 10px lightskyblue;
	text-shadow: 0px 0px 10px;	
	animation: anim 35s infinite 5s;
	font-size: 25px;
}

.anim-3{ height: 48px;
	width: 48px;
	color: dodgerblue;
	box-shadow: 0px 0px 10px dodgerblue;
	text-shadow: 0px 0px 10px;
	animation: anim 35s infinite 18s;
	font-size: 30px;
}

.anim-4{ height: 25px;
	width: 25px;
	color:lightseagreen;
	box-shadow: 0px 0px 10px lightseagreen;
	text-shadow: 0px 0px 10px;
	animation: anim 35s infinite 22s;
}
