
div.converter{ background-color:STEELBLUE; 
	font-size:24px;
	color:white;
	padding:12px;
	height:490px;
	width:410px;
	position:relative;
	left:40px;
}

button.unit{ width:150px;
	height:45px;
	font-size:26px;
}

button.reset{ width:113px;
}

label, input{ width:350px; 
}

label{background-color:black;
	padding:12px;
}

input.converter{ background-color:white;
	color:black;
	text-align:right;
	margin-bottom:10px;
}


