


div.converter{ 	max-width: 410px;
	box-shadow: 0 0 4px lightskyblue;
	border-radius: 5px;
	padding: 1%;
	text-align: center;
	margin-left: -8px;
	width: 100%;
}
div.converter:hover{ box-shadow: 0 0 10px lightskyblue;
}
div.numpad{ margin: 5%;
	font-size: 5vmax;
	font-size: 4.99vmin;
}
div.numpad button{ margin: 0 .5% .3% 0;
	padding: 3%;
}
button.num{background-color:rgb(93, 195, 235);
	width: 18%;
}
div.numpad button.unit, div.numpad button.reset{ width: 44%;
}
div.numpad .wide{ width: 55% !important;
}
div.numpad .wider{ width: 99% !important;
}
div.converter label, div.converter input{ width: 100%; 
}
div.converter input{ text-align:right;
	margin-bottom:10px;
}
div.capsule{ margin-bottom: 800px;
}
div.capsule div{border-radius: 15px 10px;
	position: relative;
	opacity: 0;
	text-align: center;
	max-width: 50px;
	padding: 6px 9px;
	animation: moving-capsules 12s infinite ;
	text-shadow: 0px 0px 10px;
}
div.capsule div:nth-child(1){ color: fuchsia;
	box-shadow: 0 0 8px fuchsia;
	left: 8%;
}

@keyframes moving-capsules { 0%{opacity: 0; top: 10px;}
15%{opacity: 1;}
70%{opacity: 0;}
	100%{opacity: 0; top: 900px;}
}

div.capsule div:nth-child(2){ color:yellowgreen;
	box-shadow: 0 0 10px yellowgreen;
	animation-delay: 3s;
	font-size: 25px;
	left: 16%;
}

div.capsule div:nth-child(3){ left: 26%;
	color: silver;
	min-width: 80px;
	box-shadow: 0 0 10px silver;
	animation-delay: 6s;
	font-size: 30px;
}

div.capsule div:nth-child(4){color:dodgerblue;
	box-shadow: 0 0 10px dodgerblue;
	animation-delay: 9s;
	left: 40%;
}
