
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >
<div  class="w3-modal" style= "display:block;" >
     <div class="w3-modal-content banner ">
        <div class="header "> 
          <code style ="font-size: xx-large;">✔</code>   Your profile is saved successfully 
        </div> 
         <div class= "details">
           <span><b>Your details</b></span >
           <table>
              <tr><td><span>First name</span> {{ firstname }}</td></tr>
              <tr><td><span>Last name</span> {{ lastname }}</td></tr>
              <tr><td><span>Country</span> {{ country }}</td></tr>
              <tr><td><span>Email</span> {{ email }}</td></tr>
              <tr><td><span>Phone</span> {{ phone }}</td></tr>
           </table>
         </div>
         <div>
            <button routerLink= '/bookstore'  > 
              <img src= "assets/img/verify.webp" alt= "" height="18"  width="20"> done
            </button>
        </div>         
    </div>
</div>
</body>
</html>

