

table{ margin-left: 6%;
	background-color: dodgerblue;
	text-align: center;
}

table:hover{ box-shadow: 0 0 6px;
}

@media screen and (max-width: 350px){
	table{ font-size: smaller;
	}
}

th{ padding: 8px;
} 

td{ padding: 8px;
}

button{ padding: 15% 6%;
}

button.del{ background-color:crimson;
	color:white;
}

button.del:hover{ background-color:red;	
}

button.edit{ background-color: rgb(0, 81, 255);
	color: antiquewhite;
}

button.edit:hover{ background-color: blue;
}

input{ padding: 1%;
}

app-menu{ position: fixed;
}

.end-footer{ margin: 100px 0 0 -22px;
	text-align: center;
	padding: 10px;
	height: 100px;
}
