
<!DOCTYPE html>
<html>
<head>
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<meta charset= "UTF-8">
</head>

<body  class= "fade">
	<h1 title= 'users information table'>Registered User Data</h1>
	<div class= 'notifications fade'>
		<div *ngIf= 'editNotificationIsOpen' class= 'edit-notification '> 
			id no:{{ id }} was edited 
			<br>
			<button (click)= 'closeEditBox()'>Ok</button>
		</div>
		<div *ngIf= 'deleteNotificationIsOpen' class= 'del-notification'>
			id no:{{ id }} was deleted
			<br>
			<button (click)= 'closeDeleteBox()'>Ok</button>
		</div>
	</div>
	<div class="links">
		<button (click)= "openEventLog()" class= 'links-btn'>View Event log</button>
		<a  href="https://mo-json-api.herokuapp.com/" class="links-btn">Remote server</a>
	</div>
	<br>
	<div *ngIf= 'eventLogIsOpen' class= "log-background"></div>
	<div *ngIf= 'eventLogIsOpen' class= "log fade">
		<div class="banner">Event Log
			<button (click)= "closeEventLog()">x</button>
		</div>
		<div *ngIf="checkForEvents()" class="log-message">no events found</div>
		<div  [innerHTML]= "eventLog"></div>
		<br>
	</div>
	<table class= 'datatable'>	
		<thead>
			<th> </th>	
			<th> </th> 
			<th>Id</th>	
			<th>Name</th>
			<th>Last Name</th>		
			<th>Country</th>
			<th>Email</th>  	
			<th>Phone</th>	
			<th>Comments</th>
		</thead>
		<tbody>
			<tr [hidden]= 'checkForData()' class="banner">
				<td colspan= '9'>no data found</td>
			</tr>
			<tr *ngFor= 'let user of users; let i= index;  let odd= odd;' [class.alt-banner]= "odd" 					class="banner">
				<td>
					<button (click)= "deleteUser(i)"  class= "del">delete</button>
				</td>					
				<td>
					<button (click)= "editUsers(i)" [hidden]= '!checkForEditMode(i)' 
									class= "edit">Edit</button>
					<button (click)= "updateData(i)" [hidden]= 'checkForEditMode(i)' 
									class= "edit">Save
					</button>
				</td>
				<td>{{user.id}}</td> 					
				<td> 
					<label [hidden]= '!checkForEditMode(i)' >{{ user.firstName }}</label>
					<input [hidden]= 'checkForEditMode(i)' 
								[style]= 'setWidth(user.firstName?.length)' 	
								[(ngModel)]= "name"	maxlength= '15'					 
								class= 'editUser'  placeholder= 'name'/>					
				</td>
				<td> 
					<label [hidden]= '!checkForEditMode(i)' >{{ user.lastName }}</label>
					<input [(ngModel)]= "lastName"	[hidden]= 'checkForEditMode(i)' 
								[style]= 'setWidth(user.lastName?.length)' 	
								maxlength= '15' class= 'editUser' placeholder= 'lastname' />		
				</td>
				<td> 
					<label [hidden]= '!checkForEditMode(i)' >{{ user.country }}</label>
					<input [hidden]= 'checkForEditMode(i)' 
								[(ngModel)]= "country"
								[style]= 'setWidth(user.country?.length)' 	
								maxlength= '35' class= 'editUser' placeholder= 'country' />					
				</td>
				<td> 
					<label [hidden]= '!checkForEditMode(i)' >{{ user.email }}</label>
					<input [value]= 'user.email' [hidden]= 'checkForEditMode(i)' 
								[(ngModel)]= "email"
								[style]= 'setWidth(user.email?.length)'  		
								maxlength= '25' type= 'email' class= 'editUser' placeholder= 'email' />		
				</td>
				<td> 
					<label [hidden]= '!checkForEditMode(i)' >{{ user.phone }}</label>
					<input [value]= 'user.phone' [hidden]= 'checkForEditMode(i)' 
								[(ngModel)]= "phone"
								[style]= 'setWidth(user.phone?.length)' 
								maxlength= '17' class='editUser' placeholder= 'phone'  />					
				</td>				
				<td>{{ user.comments }}</td>
			</tr>
		</tbody >
	</table>
	<br>
	<br>
	<br>
</body>

</html>