
form{ color: orange;
	max-width: 650px !important; 
	padding: 8%;
	border-radius: 5px;
	transition: 0.4s;
	margin: 50px 0 0 5%;
}

form:hover{box-shadow: 4px 4px 6px lightskyblue;
}

div.mt-40px{margin-top: 40px;
}

p{ padding: 0 2%;
	max-width: 650px !important; 
	margin: auto;
}

div.buttons button{ border-radius: 3px;
	width: 27%;
	padding:8px 25px;
	margin-right: 12px;
}

div.buttons button:nth-child(3){ background-color:rgb(144, 4, 4);
	color: beige;
}

div.buttons button:nth-child(3):hover{ background-color:red;
}

form label, form input,  form textarea, form select, form option{ 
	width: 98%;
}

@media screen and (max-width:600px) {
	form{ padding: 2%;
		margin-left: 1px;
		width: 98%;
	}

	div.buttons button{ width: 100%;
		margin-bottom: 2%;
	}
}

.ng-invalid{ border-left: 2px solid red
}

.ng-valid{ border-left: 2px solid lime
}

.alert{ color:red;	
	visibility: visible;
}

.alert-invisible{ visibility: hidden;
}




  