

h1{ background-color:black;
	padding:10px;
	color:red;
	width:450px;
	text-align:center;
}

body{	margin-bottom: 180px;


}

nav{  font-size:21px;
	 float:left; 
	 display:block; 
	 position:fixed;
}

div.menu{	position:absolute; 
	opacity:0.9;
	background-color:black;	
	float:left; 
}

div.numpad{  padding:13px 0px 0px 13px; 	
}

a, summary{ color:orange;
	background-color:black;
	text-decoration: none;
	padding:12px;
	margin-top:18px;
}

a:hover, a.active{ color:black;
	background-color:white;
}

a:active{ color:red;
	background-color:white;
}

button{ background-color:lightblue;
	width:75px;
	font-size:40px;
	margin-bottom:2px;
	margin-left:2px;
}

button.operator{ background-color:rgb(70%, 60%, 80%);
}

button.wide{ width:152px;
}

button.clear{ background-color:rgb(100%, 60%, 60%);
}

button:hover{background-color:lightyellow;
}

button:active{ background-color:orange;	
}

p.footer{	position:relative;
	left:50px;
}

img.side{ float:right; 
}

img.home{ width:1200px;
height:600px;
animation:loadImage 3s;
}
@keyframes loadImage{ from{opacity:0.3}
	to{opacity:1}	
}

input, textarea, option, select{ font-size:30px;
	background-color:rgb(5%, 2%, 10%);
	border:solid white;
	color:white;
	padding: 12px;
}

input.editUser{ font-size:16px;
}

table.home{ background-color:black;
	position:relative;
	left:100px;	
	border-spacing:10px;
	font:bold 25px verdana  ;
	text-align:center;		
	padding:8px;
}


th{ padding:8px;
} 

/* tr{padding:20px} */

td{ padding:6px;
	background-color:black;
}

td.home{ height:50px;
	width:125px;
	padding:20px;
	
}

td.html{ border:solid orange 4px;
	box-shadow:0px 0px 13px orange;
	color:orange;
}

td.css{ border:solid lime 4px;
	box-shadow:0px 0px 13px lime;
	color:lime;
}

td.typescript{ color:deepskyblue;
	border:solid deepskyblue 4px;
	box-shadow:0px 0px 13px deepskyblue
}

td.angular{ color:red;
	border:solid red 4px;
	box-shadow:0px 0px 13px red
}


td.java{ border:solid white 4px;
	box-shadow:0px 0px 13px white;
	color:white;
}

footer{background-color: black;
	height:180px;
	width:1300px;

}

