

h1{ background-color:black;
	padding:10px;
	color:crimson;
	width:470px;
	text-align:center;
	border-radius: 5px;
}
h3{ color: aquamarine;

}
div.nav{ width: 1338px;
	height: 52px;
	font-size:21px;
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	z-index: 1;
}

nav{ position: fixed;
	top: 15px;
}

body,footer{color:rgb(222, 242, 243);
	font:19px verdana;
}

body{	margin-bottom: 180px;
}

body.fade, div.fade, label.fade{border-radius: 5px;
animation:loadPage 3s 
}
@keyframes loadPage{from{opacity:0.2; }
	to{opacity:1; }	
	}

.scale{border-radius: 5px;
	animation:loadPage 3s 
}
@keyframes scalePage{from{scale:0.2; }
	to{opacity:1; }	
	}
		

div.menu{	position:absolute; 
	opacity:0.9;
	background-color:black;	
	float:left; 
}

div.numpad{  padding:13px 0px 0px 13px; 	
}

a{ text-decoration: none;
	color: orange;
	transition: background-color .8s, color .6s ;
}

button.links{ color:orange;
	background-color:black;
	border: solid black;
	width: 110px;
	margin-right: -5px;
	font-size: 20px;	
	padding:10px;
	margin-top:-18px;
	transition: background-color .8s, color .6s ;
}

button.links:hover, a:hover{ color:black;
	background-color:lightgrey;
}

button.active{color:black;
	background-color:lightgrey;
}

button.links:active{ opacity: .6;
}

button{ background-color:rgb(93, 195, 235);
	width:75px;
	font-size:40px;
	margin-bottom:2px;
	margin-left:2px;
	border-radius: 5px;
	transition: background-color .8s;
}

button.clear{ background-color:rgb(235, 121, 121);
}

button:hover, button.operator:hover{background-color:lightyellow;
}

button:active{ opacity: .7;	
}

button.operator{ background-color:rgb(70%, 60%, 80%);
}

button.wide{ width:152px;
}

button.wider{ width:170px;
}

p.footer{	position:relative;
	left:50px;
}

img.side{ float:right; 
}

input, textarea, option, select{ font-size:30px;
	background-color:rgb(5%, 2%, 10%);
	border:solid white;
	color:white;
	padding: 12px;
	border-radius: 5px;
	transition:  box-shadow .5s, border .5s ;
}

input.editUser{ font-size:16px;
}

input:hover, textarea:hover, select:hover{ 
	border: solid blue;
}

input:focus, textarea:focus, select:focus{ box-shadow: 0px 0px 12px skyblue; 
	border: solid blue;
}

table.home{ background-color:black;
	position:relative;
	left:100px;	
	border-spacing:40px;
	font:bold 25px verdana  ;
	text-align:center;		
	padding:8px;
}

th{ padding:8px;
} 

td{ padding:6px;
	background-color:black;
}

td.home{ height:50px;
	width:125px;
	padding:20px;
	
}

td.html{ border:solid orange 4px;
	box-shadow:0px 0px 13px orange;
	color:orange;
}

td.css{ border:solid lime 4px;
	box-shadow:0px 0px 13px lime;
	color:lime;
}

td.typescript{ color:deepskyblue;
	border:solid deepskyblue 4px;
	box-shadow:0px 0px 13px deepskyblue
}

td.angular{ color:red;
	border:solid red 4px;
	box-shadow:0px 0px 13px red
}

td.java{ border:solid white 4px;
	box-shadow:0px 0px 13px white;
	color:white;
}

footer{background-color: black;
	height:305px;
	width:1340px;
	position: relative;
	left: -9px;
	margin-top: 300px;
}

