
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body >
	<div class="nav">
		<nav>
			<button routerLink= '/home' routerLinkActive= 'active' class= "links">Home</button> 
			<button routerLink= '/calculator' routerLinkActive= 'active' class= "links">Calculator</button>
			<button routerLink= '/converter' routerLinkActive= 'active' class= "links"> Converter</button>
			<button routerLink= '/bookstore' routerLinkActive= 'active' class= "links wide"> Book Store
			</button>
			<button [hidden]= 'showDatalinks()' routerLink= '/mailinglistdata' routerLinkActive= 'active' 					class= "links"> Data
			</button>
			<button [hidden]='showMoreDatalinks()' routerLink='/mailinglist' routerLinkActive= 'active' 					class="links wider">Back to MailList
			</button>
			<button  [hidden]= 'showMoreDatalinks()' routerLinkActive= 'active' class= "links"> 
				<a href= "/assets/data/maildata.json">JSON file</a> 
			</button>
			<button routerLink= '/aboutme' routerLinkActive= 'active' class= "links wide"> About Me</button>
		</nav>
	</div>
	<br>
	<br>
	<router-outlet></router-outlet>
</body>
<br>
<br>
<footer>
	<table class='home'>
		<tr>
			<td class= 'html home' >HTML</td>
			<td class= 'css home'>CSS</td>
			<td class= 'typescript home'>Typescript</td>
			<td class= 'angular home'>Angular</td>
			<td class= 'java home'>Java</td>
		</tr>
	</table>
	<p class= 'footer'>Copyleft ©2022  - All Rights to Share</p>
</footer>
</html>


