
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>

<body   >
	<div class="nav">
		<ul>
			<li><a routerLink= '/home' routerLinkActive= 'active'>Home</a></li> 
			<li><a routerLink= '/calculator' routerLinkActive= 'active'>Calculator</a></li> 
			<li><a routerLink= '/converter' routerLinkActive= 'active'>Converter</a></li> 
			<li><a routerLink= '/bookstore' routerLinkActive= 'active'>Book Store</a></li> 
			<li><a [hidden]= 'showMailList()' routerLink= '/mailinglist' routerLinkActive= 'active'>
				MailList Form
			</a></li> 
			<li><a [hidden]= 'showDatalinks()' routerLink= '/mailinglistdata' routerLinkActive= 'active'> 		Data
			</a></li> 
			<li><a [hidden]='showMoreDatalinks()' routerLink='/mailinglist' routerLinkActive= 'active'>
				Back to MailList
			</a></li> 
			<li><a  [hidden]= 'showMoreDatalinks()' routerLink='/jsonfile' routerLinkActive= 'active'> 
				JSON file			
			</a></li> 
			<li> <a routerLink= '/aboutme' routerLinkActive= 'active'> About Me</a></li> 
		</ul>
	</div>
	<br>
	<br>
	<router-outlet></router-outlet>
</body>
<br>
<br>
<footer>
	<table>
		<tr>
			<td>HTML</td>
			<td>CSS</td>
			<td>Typescript</td>
			<td>Angular</td>
			<td >Java</td>
		</tr>
	</table>
	<p>Copyleft ©2022  - All Rights to Share</p>
</footer>
</html>


