
*{ 	--banner-color: rgb(9, 9, 50);
	--heading-color: orange;
	--default-color: rgb(160, 200, 255);
	--alternative-banner-color:  rgb(15, 51, 110);
	--page-width: 600px;
	user-select: none;
}

.banner{ background-color: var(--banner-color);
}

.banner-btn{ background-color: var(--banner-color);
	color: orange;
}

.header{ color: var(--heading-color);
}

.alt-banner{ background-color: var(--alternative-banner-color);
}

h1{ background-color: var(--banner-color);
	padding: 120px 5px 10px;
	text-shadow: 0 0 2.5px;
	color: var(--heading-color);
	height: 200px;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 80px -22px;
}

h2{color: orange;
}

h3{ color: var(--heading-color);
 width: 500px;
}

body{ min-height: 1500px;
}

body, footer{ color: var(--default-color);
	font:19px verdana;
}

body.fade, div.fade, label.fade{border-radius: 5px;
animation:loadPage 3s 
}
@keyframes loadPage{from{opacity:0.2; }
	to{opacity:1; }	
}

.grid-row{  display: grid;
    grid-template-columns: auto auto ;
}

 .col-1{  grid-area: 1 / 1 / span 1 / span 4;
 }

 .col-1-l{  grid-area: 1 / 1 / span 1 / span 6;
 }

 .col-2-s{  grid-area: 1 / 7 / span 1 / span 5;
 }

 .col-2{  grid-area: 1 / 5 / span 1 / span 7;
 }

.scale{border-radius: 5px;
	animation:loadPage 3s 
}
@keyframes scalePage{from{scale: 0.2; }
	to{scale:1; }	
	}
		
div.menu{	position:absolute; 
	opacity :0.9;
	background-color:black;	
	float:left; 
}

nav { font-size: 20px;	
	width: 100%;
	position:fixed;
	top: 10px;
	left: 0px;
	background-color: var(--banner-color);
	z-index: 1;
	margin: -10px 0 0 0;
}

nav li { display: inline-block;
	padding: 10px 0;
}

/* nav span{ margin-left: 600px;
} */

.links-btn{	background-color: indigo;
	color: rgb(248, 183, 63);
	border-radius: 10px;
	box-shadow: 0 0 8px rgb(29, 27, 27);
	padding: 15px;
	display: inline-block;
}

.links-btn:hover{ background-color: blueviolet;	
	color: rgb(250, 227, 198);
}

a{ text-decoration: none;
	transition: .6s;
}

a:hover{ box-shadow: 0 0 13px whitesmoke;
}

nav a{ color:orange;
	padding: 10px 12px;
}

nav a:hover{ background-color:lightgrey;
	color: var(--banner-color);
}

nav a.active{color: var(--banner-color);
	background-color:lightgrey;
}

button{ border-radius: 2.5px;
	transition: .6s;
	border-style: none;
	box-shadow: 0 0 9px rgb(29, 27, 27);
}

button.clear{ background-color:rgb(235, 121, 121);
}

button:hover, button.operator:hover{background-color:lightyellow;
	box-shadow: 0 0 12px lightskyblue;
}

button:active, a:active{ opacity: .4;	
}

button.operator{ background-color:rgb(70%, 60%, 80%);
}

input, textarea, option, select{ font-size: 30px;
	background-color: rgb(3, 3, 63);
	color: var(--default-color);
	border:solid rgb(83, 166, 248);
	padding: 12px;
	border-radius: 5px;
	transition:  box-shadow .5s, border .5s ;
}

input.editUser{ font-size:16px;
}

input:hover, textarea:hover, select:hover{ border: solid blue;
}

input:focus, textarea:focus, select:focus{ box-shadow: 0 0 12px skyblue; 
	border: solid blue;
}

footer{ background-color: var(--banner-color);
	margin: 100px 0 0 -9px;
	z-index: 1;
}

footer .languages{ background-color: var(--banner-color);
	margin-left:100px;	
	font: bold 25px verdana  ;
	text-align:center;		
	padding:8px;
}

footer .languages{ padding: 50px;
}

.languages div { height:50px;
	min-width: 125px;
	padding: 20px;
	background-color: var(--banner-color);
	text-shadow: 0 0 14px;
	border-radius: 8px 50px;
	display: inline-block;
	margin: 20px 40px 0 0;
}

.languages :nth-child(1){ border:solid orange 4px;
	box-shadow:0 0 13px orange;
	color:orange;
}

.languages :nth-child(2){ border:solid lime 4px;
	box-shadow:0 0 13px lime;
	color:lime;
}

.languages :nth-child(3){ color:deepskyblue;
	border:solid deepskyblue 4px;
	box-shadow:0 0 13px deepskyblue
}

.languages :nth-child(4){ color:red;
	border:solid red 4px;
	box-shadow:0 0 13px red
}

.languages :nth-child(5){ border:solid white 4px;
	box-shadow:0 0 13px white;
	color:white;
}

footer p{ padding: 10px;
}