
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>  
<div  [class]="class" class="mx-800 fade-in p-3 mn-300 p-1 alert m-1" 
    style="position: fixed; top: 50px; z-index: 9;">
    <h4 class="bold"> {{ title || defaultTitle }}
        <button (click)="close()" class="btn m-1 text-white" style="float: right; color: transparent;" >×</button>
    </h4> 
    {{ message }}<br> 
</div>
</body>
</html>
