
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<app-message [hidden]= "!message.show$removeMessage()"></app-message>
<div class= "golf-form p-5percent m-auto w3-indigo ">
    <h2>Tournament  Form</h2>  
    <div class="golf-form w3-pale-blue rounded">
    <form class= "p-5percent">
        <div class="mb-3 row">
            <label for="name" class="px-120 col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9">
            <input type="text" class="mx-200 form-control">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="score" class="px-120 col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-9">
            <input type="text" class="mx-200 form-control">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="score" class="px-120 col-sm-2 col-form-label">End Date</label>
            <div class="col-sm-9">
            <input type="text" class="mx-200 form-control">
            </div>
        </div>
    </form>
    <div class= "m-5 p-5percent">
        <button (click)="save()"  class="btn btn-success m-4 w3-mobile">Save</button>
        <button  class="btn btn-primary m-4 w3-mobile">Reset</button>
        <button  class="btn btn-danger m-4 w3-mobile">Cancel</button>
    </div>
    </div>
</div>
<br>
</body>
</html>

