

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="text-white">
  <div class="w3-display-container w3-text-white">
    <img src="/assets/img/home.jpeg" alt="Lights" style="width:100%">
    <div class="w3-display-topmiddle w3-large p-5percent">Middle
        <p>w3 here</p><p>text here</p><p>text here</p><p>w3 here</p><p>text here</p><p>text here</p>
        <button>whatever</button>
    </div>
    <!-- <div class="w3-display-topmiddle w3-container"><p>Top Middle</p></div> -->
  </div>    
<div style="background-image: url(/assets/img/home.jpeg) !important;">
    <p>style here</p><p>text here</p><p>text here</p><p>text here</p><p>text here</p>
    <p>style here</p><p>text here</p><p>text here</p><p>text here</p><p>text here</p>
</div>
<div class="bg-image">
    <p>class here</p><p>text here</p><p>text here</p><p>class here</p><p>text here</p><p>text here</p>
    <p>class here</p><p>text here</p><p>text here</p><p>class here</p><p>text here</p><p>text here</p>
</div>
<div >
    <img src="/assets/img/home.jpeg" style="z-index: 0; position: absolute;" alt="">
    <p style="position: absolute; ">img here</p>
    <div style="z-index: 7; background-color: black; width: 600px; height: 600px;" > 
    <p>img here</p><p>text here</p><p>class here</p><p>text here</p><p>text here</p>
    <p>img here</p><p>text here</p><p>text here</p><p>class here</p><p>text here</p><p>text here</p>
    </div>
</div>    
</body>
</html>