
*{ --bookwidth:380px;
}

a.links-btn{ font-size: 44px;
    padding: 19px 48px;
    border-radius: 40px;
}

a:hover{ background-color: aliceblue;
}


img{ float:right; 
    margin: 35px;
}

div.books{ margin-top: 20px;
    display:inline-block;
}

div.books div.book{ display: inline-table;
    height: 540px;
    border: solid dodgerblue;
    margin-right: 28px;
    transition: .6s;
    background-color: rgb(45, 25, 82);
}

div.books div{ width: var(--bookwidth);
    margin: 6px
}

div.books div.book:hover{ border-color: whitesmoke;
    box-shadow: 0px 0px 7px whitesmoke;
}

div.book img{ float: none;
}

div.book :nth-child(2){height: 60px;
    font: bold 28px Gothic;
    color: rgb(153, 201, 233);
    text-align: center;
    border-top: solid;
}

div.book :nth-child(3){height: 80px;
}

div.book :nth-child(4){height: 30px;
}

div.book :nth-child(5){height: 30px;
}

div.book :nth-child(6){height: 60px;
    color: rgb(246, 66, 102);
    font: italic 40px Georgia, serif;
}
