
<html>

<head>
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<meta charset= "UTF-8">
</head>

<body class= "fade">
	<h1>Book Store</h1>
	<img src= 'assets/img/image.jpg'>
	<h3>Welcome to our bookshop</h3>
	<p>Our latest book is almost ready to be published.</p> 
	<p>Join our mail list to order a copy or to get updates.</p>	
	<br>
	<br>
	<a routerLink= '/mailinglist'>register</a>
	<p style="margin-top: 100px;">Browse our best selling books</p>
	<div class= "books" *ngFor= "let book of books" >
		<div class="book">
			<img [src]="book.imageUrl" width="392" height="400">
			<div>{{ book.title }}</div>
			<div>{{ book.description}}</div>
			<div>by {{ book.author }}</div>
			<div>pages: {{ book.pages }}</div>
			<div>price: {{book.price| currency}}</div>
		</div>
	</div>
</body>

<html>