
*{--img-margins: -500px}

body{ height: 1400px;
}

li{width: 500px ;
 }

div.images img{  display: block;
    animation: imagefade 20s infinite;
}

@keyframes imagefade { 0%{opacity: 1;}
    25%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

div.images img:nth-child(1){ animation-delay: 0s;
}

div.images img:nth-child(2){ animation-delay: 5s;
    margin-top: var(--img-margins);
 }

 div.images img:nth-child(3){ animation-delay: 10s;
    margin-top: var(--img-margins);
 }

 div.images img:nth-child(4){ animation-delay: 15s ;
    margin-top: var(--img-margins);
}


