

<!doctype html>
<html>
<head>
	<title>Home</title>
</head>

<body >
	<h1>Home</h1>
	<h3>Welcome to my Home Page</h3>
	Have a look at my current demo projects
	<p class='home'></p>
	<li>Calculator</li>
	<li>Converter</li>
	<li>Book Store</li>
	<li>Mailing List</li>
	<li>Mailing List Data</li>
	<br>
		<div [ngSwitch]='imageNo'>
			<img *ngSwitchCase='1' class='home' src='assets/img/swan.jpg'>
			<img *ngSwitchCase='2' class='home' src='assets/img/river.jpg'>
			<img *ngSwitchCase='3' class='home' src='assets/img/kemit.jpg'>
			<img *ngSwitchCase='4' class='home' src='assets/img/kemit2.jpg'>
		</div>
</body>
</html>
