

li{ list-style: none;
    margin-top: 70px;
}

a.links-btn{ font-size: 6vmin;
    padding: 4% 8%;
    margin-left: 5%;
}

a:hover{ background-color: aliceblue;
}

.main-img{ float: right;
    margin-left: 3%;
    max-width: 50%;
}

.container{ 
    width: 80%; 
    margin: 10% 0 0 10%;
    padding: 2%;
}

p{ padding-left: 2%;
}

div.books{ display: inline-block;
    margin: 3%;
    width: 25%;
    border: solid red;
    transition: .6s;
    border: solid rgb(116, 184, 251);
}

 div.books:hover{ border-color: blue;
    box-shadow: 0 0 7px whitesmoke;
}

div.books img{ width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .container{ width: 100%;
        margin: 10% auto 0 auto;
    }
}

@media screen and (max-width: 600px) {
    div.books{ width: 100% ;
        margin: 0 auto 8% auto;
    }
    div.description :nth-child(1){height: 27px;
        overflow: hidden;
    }
}

div.books .title{height: 72px;
    font-weight: bold;
    text-align: center;
    border-top: solid;
    padding: 1%;
    overflow: hidden;
}
 
.description{ padding: 3%;
}

div.description :nth-child(1){height: 72px;
    overflow: hidden;
}

div.description :nth-child(2){ height: 27px;
    overflow: hidden;
}

div.description :nth-child(3){ height: 27px;
    overflow: hidden;
}
div.description :nth-child(4){height: 32px;
    overflow: hidden;

}
div.description :nth-child(4) span{ 
    color: rgb(246, 66, 102);
    font: normal x-large Georgia, serif;
}
